extends ../layout

block content
  .container
    h1.page-header List
    
    //- | total #{pagination.numPosts} posts
    .row
      .col-md-12
        table.table.table-bordered
          thead
            tr
              th 체크인
              th 체크아웃
              th 예약 인원
              th 예약자
          tbody
            tr
              td= moment(reservation.checkIn).format("YY/MM/DD")
              td= moment(reservation.checkOut).format("YY/MM/DD")
              td= reservation.person
              td= reservation.email
                if currentUser.email == reservation.email
                  td
                    a.btn.btn-xs.btn-default(data-id=reservation.id, class='delete') 예약 취소
                  //- if currentUser.email == post.email 
                  //-   td
                  //-     a.btn.btn-xs.btn-default(data-id=reservation.id, class='delete') 예약 거절


        a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
      


    form#deleteForm(style='display:none', method="POST")
            
    script(type='text/javascript').
      $(".delete").click(function(e) {
        var id = $(e.currentTarget).data('id');
        if (confirm('정말 삭제하시겠습니까?')) {
          $("#deleteForm").attr('action', "/reservations/index/" + id + "?_method=DELETE").submit();          
        }
        return false;
      });

