extends ../layout

block content
  .container
    h1.page-header= post.title
    p
      b by #{post.email}
      | 
      span at #{moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
      | 
      | (조회수 #{post.read})
      | (예약 가능 인원 : #{post.person})
    p.well(style='white-space:pre;')= post.content
    
    a.btn.btn-primary(href='/posts/new') 예약
    a.btn.btn-primary(href='/posts/index') 목록

    